
                                                                        /*TELEFONO*/
@media only screen and (max-width: 500px) {
    /*------------------------------------------------------------Secciones-----------------------------------------------------------*/
        /*------------------------------------------------------Inicio Contactos-----------------------------------------------------*/
        
        #contactos-1 {
            margin-top: 130px;
        }
    
        #contactos-2 {
            margin-top: 170px;
        }
    
        #header-contactos {
            margin-top: -170px;
        }
    
        .imagen-1-contactos {
            position: absolute;
            width: 30px;
            margin-top: 552px;
            margin-left: 60px;
        }
    
        .imagen-2-contactos {
            position: absolute;
            width: 30px;
            margin-top: 602px;
            margin-left: 60px;
        }
    
        .imagen-3-contactos {
            position: absolute;
            width: 30px;
            margin-top: 652px;
            margin-left: 60px;
        }
    
        .imagen-4-contactos {
            position: absolute;
            width: 30px;    
            margin-top: 702px;
            margin-left: 60px;
        }
    
        .imagen-5-contactos {
            position: absolute;
            width: 30px;
            margin-top: 752px;
            margin-left: 60px;
        }
        .parrafo-contactos {
            font-size: 20px;
            position: absolute;
            margin-top: 550px;
            margin-left: 100px;
            line-height: 35px;
            font-family: 'Nunito', sans-serif;
            font-family: 'Poppins', sans-serif;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    
        .parrafo-contactos-numeros {
            font-size: 15px;
            text-decoration: underline;
            position: absolute;
            margin-top: -253.5px;
            margin-left: 200px;
        }
    
            /*Numeros / Parrafo*/
        #numero-1 {
            margin-left: -45px;
        }
    
        #numero-2 {
            margin-left: 200px;
        }
    
        #numero-3 {
            margin-left: -15px;
        }
    
        #numero-4 {
            margin-left: -20px;
        }
    
        #numero-5 {
            margin-left: 20px;
        }
            /*Numeros / Parrafo*/
            /*------------------------------------------------------Final Contactos------------------------------------------------------*/
}
                                                                        /*TELEFONO*/

@media only screen and (min-width: 501px) and (max-width: 980px) {            
  /*------------------------------------------------------------Secciones-----------------------------------------------------------*/
        /*------------------------------------------------------Inicio Contactos-----------------------------------------------------*/
        

        #contactos-1 {
            margin-top: 130px;
        }
    
        #contactos-2 {
            margin-top: 170px;
        }
    
        #header-contactos {
            margin-top: -170px;
        }
    
        .imagen-1-contactos {
            position: absolute;
            width: 30px;
            margin-top: 552px;
            margin-left: 60px;
        }
    
        .imagen-2-contactos {
            position: absolute;
            width: 30px;
            margin-top: 602px;
            margin-left: 60px;
        }
    
        .imagen-3-contactos {
            position: absolute;
            width: 30px;
            margin-top: 652px;
            margin-left: 60px;
        }
    
        .imagen-4-contactos {
            position: absolute;
            width: 30px;    
            margin-top: 702px;
            margin-left: 60px;
        }
    
        .imagen-5-contactos {
            position: absolute;
            width: 30px;
            margin-top: 752px;
            margin-left: 60px;
        }
        .parrafo-contactos {
            font-size: 20px;
            position: absolute;
            margin-top: 550px;
            margin-left: 100px;
            line-height: 35px;
            font-family: 'Nunito', sans-serif;
            font-family: 'Poppins', sans-serif;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    
        .parrafo-contactos-numeros {
            font-size: 15px;
            text-decoration: underline;
            position: absolute;
            margin-top: -253.5px;
            margin-left: 200px;
        }
    
            /*Numeros / Parrafo*/
        #numero-1 {
            margin-left: -45px;
        }
    
        #numero-2 {
            margin-left: 200px;
        }
    
        #numero-3 {
            margin-left: -15px;
        }
    
        #numero-4 {
            margin-left: -20px;
        }
    
        #numero-5 {
            margin-left: 20px;
        }
            /*Numeros / Parrafo*/
            /*------------------------------------------------------Final Contactos------------------------------------------------------*/  
}

                                                                        /*ESCRITORIO*/
@media only screen and (min-width: 991px) {        
    /*------------------------------------------------------------Secciones-----------------------------------------------------------*/
    /*------------------------------------------------------Inicio Contactos-----------------------------------------------------*/
    

    #contactos-1 {
        margin-top: 130px;
    }

    #contactos-2 {
        margin-top: 170px;
    }

    #header-contactos {
        margin-top: -170px;
    }

    .imagen-1-contactos {
        position: absolute;
        width: 30px;
        margin-top: 552px;
        margin-left: 60px;
    }

    .imagen-2-contactos {
        position: absolute;
        width: 30px;
        margin-top: 602px;
        margin-left: 60px;
    }

    .imagen-3-contactos {
        position: absolute;
        width: 30px;
        margin-top: 652px;
        margin-left: 60px;
    }

    .imagen-4-contactos {
        position: absolute;
        width: 30px;    
        margin-top: 702px;
        margin-left: 60px;
    }

    .imagen-5-contactos {
        position: absolute;
        width: 30px;
        margin-top: 752px;
        margin-left: 60px;
    }
    .parrafo-contactos {
        font-size: 20px;
        position: absolute;
        margin-top: 550px;
        margin-left: 100px;
        line-height: 35px;
        font-family: 'Nunito', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .parrafo-contactos-numeros {
        font-size: 15px;
        text-decoration: underline;
        position: absolute;
        margin-top: -253.5px;
        margin-left: 200px;
    }

        /*Numeros / Parrafo*/
    #numero-1 {
        margin-left: -45px;
    }

    #numero-2 {
        margin-left: 200px;
    }

    #numero-3 {
        margin-left: -15px;
    }

    #numero-4 {
        margin-left: -20px;
    }

    #numero-5 {
        margin-left: 20px;
    }
        /*Numeros / Parrafo*/
        /*------------------------------------------------------Final Contactos------------------------------------------------------*/  
}
                                                                        /*ESCRITORIO*/