 
                                                                                    /*TELEFONO*/
 @media only screen and (max-width: 500px) {
 /*Inicio Terminos y Condiciones*/
    #h1-terminos-condiciones{
        font-size: 55px;
        color: #ed620c;
        margin-left: 460px;
        margin-top: 50px;
        text-decoration: overline #ed620c;
    }
    
    #terminos-condiciones-1 {
        margin-top: 40px;
    }
    
    #main-t-c {
        padding-left: 210px;
    }
    
    
    #parrafo-terminos-condiciones {
        width: 1000px;
        position: absolute;
        margin-top: 70px;
        margin-left: 100px;
        padding-top: 80px;
        padding-left: 120px;
        padding-bottom: 80px;
        padding-right: 120px;
        border:double #ed620c 5px;
        background-color: black;
        box-shadow: 0px -20px 100px 10px;
    }
    
    #parrafo-terminos-condiciones:hover{
        transition:all 2s ease-in-out ;
        transform: scale(1.1);
        padding-left: 100px;
        margin-left: -20px;
        width: 1300px;
        height: 500px; 
    }
    
    .parrafo-terminos-condiciones-1 {
        margin-left: 40px;
        font-size: 20px;
        color: white;
    }
        /*Final Terminos y Condiciones*/
}
                                                                                    /*TELEFONO*/

@media only screen and (min-width: 501px) and (max-width: 980px) {
    /*Inicio Terminos y Condiciones*/
    #h1-terminos-condiciones{
        font-size: 55px;
        color: #ed620c;
        margin-left: 460px;
        margin-top: 50px;
        text-decoration: overline #ed620c;
    }
    
    #terminos-condiciones-1 {
        margin-top: 40px;
    }
    
    #main-t-c {
        padding-left: 210px;
    }
    
    
    #parrafo-terminos-condiciones {
        width: 1000px;
        position: absolute;
        margin-top: 70px;
        margin-left: 100px;
        padding-top: 80px;
        padding-left: 120px;
        padding-bottom: 80px;
        padding-right: 120px;
        border:double #ed620c 5px;
        background-color: black;
        box-shadow: 0px -20px 100px 10px;
    }
    
    #parrafo-terminos-condiciones:hover{
        transition:all 2s ease-in-out ;
        transform: scale(1.1);
        padding-left: 100px;
        margin-left: -20px;
        width: 1300px;
        height: 500px; 
    }
    
    .parrafo-terminos-condiciones-1 {
        margin-left: 40px;
        font-size: 20px;
        color: white;
    }
        /*Final Terminos y Condiciones*/
}

                                                                                    /*ESCRITORIO*/
@media only screen and (min-width: 991px) {
    /*Inicio Terminos y Condiciones*/
    #h1-terminos-condiciones{
        font-size: 55px;
        color: #ed620c;
        margin-left: 460px;
        margin-top: 50px;
        text-decoration: overline #ed620c;
    }
    
    #terminos-condiciones-1 {
        margin-top: 40px;
    }
    
    #main-t-c {
        padding-left: 210px;
    }
    
    
    #parrafo-terminos-condiciones {
        width: 1000px;
        position: absolute;
        margin-top: 70px;
        margin-left: 100px;
        padding-top: 80px;
        padding-left: 120px;
        padding-bottom: 80px;
        padding-right: 120px;
        border:double #ed620c 5px;
        background-color: black;
        box-shadow: 0px -20px 100px 10px;
    }
    
    #parrafo-terminos-condiciones:hover{
        transition:all 2s ease-in-out ;
        transform: scale(1.1);
        padding-left: 100px;
        margin-left: -20px;
        width: 1300px;
        height: 500px; 
    }
    
    .parrafo-terminos-condiciones-1 {
        margin-left: 40px;
        font-size: 20px;
        color: white;
    }
        /*Final Terminos y Condiciones*/
}
                                                                                    /*ESCRITORIO*/
