%bottons-header {
    color: #ed620c;
    text-decoration: underline white;
    transition:all 0.8s;
}

%selection {
    background-color: #ed620c7a;
    color: white;
}

%transforms {
    transform:scale(0.9);
    transform: translateY(10px);
}